@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-mono::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.font-mono::-webkit-scrollbar-track {
    background: #0a0a0a;
}

.font-mono::-webkit-scrollbar-thumb {
    background: #1a4726;
    border-radius: 4px;
}

.font-mono::-webkit-scrollbar-thumb:hover {
    background: #20603a;
}
